*{
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;

}
.container{
        background-image: url('bgHero.jpg');
        background-size: cover;
        background-position: center;
        height: 590px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px; 
}
a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
a:hover{
    color: #FF9F66;
}

.btn {
    background: #FF4C4C;
    border-radius: 999px;
    box-shadow: #FF4C4C 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
.btn:hover{
    background-color: #006769;
  color: white;
}
